@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
    --color1: #252940;
    --color2: #1B52BF;
    --color3: #F2E307;
    --color4: #F2AE30;
    --color5: #F25922;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #333333;
}

body{ /* Así se crea una regla de estilo para el objeto body */
    background-color: var(--color-gris-claro); /* Color de fondo */
    color: var(--color-gris-oscuro); /* Color de texto */
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}
img{
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1{
    font-size: 48px; /* Tamaño de la letra en pixeles */
    font-weight: 900; /* Estilo o grosor de la letra */
}
h2{
    font-weight: 200; 
    font-size: 40px;
    text-transform:capitalize; /* Mostrar los textos en minúscula */
    letter-spacing: -2px;
}
h3{
    font-size: 18px;
    text-transform:uppercase; /* Mostrar los textos en mayúcula */
    font-weight: 700;
}

#main-header{
    background-color:var(--color2);
    color: var(--color-blanco);
}

#brecha{ /* Así se aplica formato a un objeto por su id */
    background-color: var(--color5);
    color: var(--color-blanco);
}

#igualdad{
    background-color:var(--color4);
    color: var(--color-gris-oscuro)
}

#problemas{
    background-color: var(--color5);
}

#estrategias{
    background-color: var(--color4);
    color: var(--color-negro);
}

#main-footer{
    background-color: var(--color-negro);
    color: var(--color-gris-claro);
    padding-top: 45px;
    padding-bottom: 45px;
}
.padded{
padding-top: 90px; /* pading es la distancia del borde al contenido */
padding-bottom: 90px;
padding-left: 15px;
padding-right: 15px;

}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
.row{
    display: flex;
    margin-left: -15;
    margin-right: -15;
    }
.col{
    padding-left: 15px;
    padding-right:15px;
    flex-basis: 0;
    flex-grow: 1;
        }
.img-fluid{
    max-width: 100%;
    height: auto;
            }    