@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('fontawesome-free-6.2.0-web/css/all.min.css');
:root{
    --color1: #252940;
    --color2: #1B52BF;
    --color3: #F2E307;
    --color4: #F2AE30;
    --color5: #F25922;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;
    --color-gris-claro: #CCCCCC;
    --color-gris-oscuro: #333333;
}
html{
    scroll-behavior: smooth;
}

body{ /* Así se crea una regla de estilo para el objeto body */
    background-color: var(--color-gris-claro); /* Color de fondo */
    color: var(--color-negro); /* Color de texto */
    /*font-family: 'Cormorant Garamond', serif;*/
    /*font-family: 'Titan One', cursive;*/
    font-size: 24px;
}

img{
    display: block;
}
figure{
    margin: 0;
}
p{
    margin-top: 0;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}
h1{
    font-size: 48px; /* Tamaño de la letra en pixeles */
    font-weight: 700; /* Estilo o grosor de la letra */
}
h2{
    font-weight: 700; 
    font-size: 40px;
    text-transform:initial; /* Mostrar los textos en minúscula */
    letter-spacing: -2px;
    margin-bottom: 12px;

}
h3{
    font-size: 24px;
    text-transform:uppercase; /* Mostrar los textos en mayúcula */
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 8;
}
h1 a{
    color: var(--color-gris-oscuro);

}
h1 a:hover{
    color: var(--color-gris-oscuro);
    text-decoration: none;
}

#main-banner{
    
    background-image: url("../images/baner.jpg");
    background-position:center ;
    background-size: 100%;
    text-align: center;
    color: var(--color-gris-oscuro);
    font-weight:700;
    
}

#top-nav{
    background-color: var(--color-gris-oscuro);
}
#main-header{
    background-color:var(--color2);
    color: var(--color-blanco);
    position:sticky ;
    top: 0;
}

#main-header-content{
    display: flex;
    justify-content: space-between;
}

#main-header p{
    margin-bottom: 0;

}

#brecha{ /* Así se aplica formato a un objeto por su id */
    background-color: var(--color5);
    color: var(--color-blanco);
}

#igualdad,
#igualdad1{
    background-color:var(--color4);
    color: var(--color-negro);
    font-style: oblique;
}

#banerbrecha{
    background-image: url("../images/brecha1.jpg");
    background-position:center ;
    background-size: cover;
    text-align: left;
    color: var(--color-negro);
    background-attachment: fixed ;
}

#banernoticia{
    background-image: url("../images/banernoticia.jpg");
    background-position:center ;
    background-size: cover;
    text-align: left;
    color: var(--color-negro);
    background-attachment: fixed ;
}

#problemas,
#steam
{
    background-color: var(--color5);
}

#iconos{
    background-color: var(--color3);
    text-align: center;
}
#iconos i{
    font-size: 2em;
    color: var(--color-blanco);
}
a{
    color:var(--color3);
    text-decoration: none;
}
a:hover{
    color:var(--color-gris-oscuro);
    text-decoration: underline;
}

#estrategias,
#noticia
{
    background-color: var(--color4);
    color: var(--color-negro);
}

#autores{
    background-color: var(--color2);
}

#main-footer{
    background-color: var(--color-negro);
    color: var(--color-gris-claro);
    padding-top: 45px;
    padding-bottom: 45px;
}
.padded{
padding-top: 90px; /* pading es la distancia del borde al contenido */
padding-bottom: 90px;
padding-left: 15px;
padding-right: 15px;

}
.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    
}
.row{
    display: flex;
    margin-left: -15;
    margin-right: -15;
    }
.col{
    padding-left: 15px;
    padding-right:15px;
    flex-basis: 0;
    flex-grow: 1;
    box-sizing: border-box; /*para que el pading no afecte el ancho*/
        }
.img-fluid{
    max-width: 100%;
    height: auto;
            }
.centrar-vertical{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-50{
    flex-basis: 50%;
    max-width: 50%;
}
.mega-baner{
        font-family: 'Titan One', cursive;
        font-size: 50px;
        font-style:oblique;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700px;
        line-height: 0.8 em;
        color: var(--color-blanco);
    }
.mega-texto{
font-family: 'Titan One', cursive;
    font-size: 50px;
    font-style:oblique;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700px;
    line-height: 0.8 em;
    color: var(--color2);
}
.mega-noticia{
    font-family: 'Titan One', cursive;
        font-size: 50px;
        font-style:oblique;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700px;
        line-height: 0.8 em;
        color: var(--color-negro);
    }
.mega-personaje{
    font-size: 60px;
    font-style:oblique;
    text-transform: uppercase;
    letter-spacing: -2px;
    font-weight: 700px;
    line-height: 0.8 em;
    color: var(--color2);
 }
.menu{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu li a{
    display: block;
}
.menu-top li a{
    padding: 5px 8px;
    color: var(--color-gris-claro);
    font-size: 0.9em;
}
.menu-top li a:hover{
    color:var(--color-blanco);
    text-decoration: none; 
    background-color: rgba(0,0,0.8);

}
.menu-main li a{
    padding: 30px 12px;
color: var(--color-negro);
text-transform: uppercase;
font-weight: 700;
font-size: 0.8em;
}

.menu-main li a:hover{
    color: var(--color-blanco);
    text-decoration: none;

}
#lista-integrantes,
#lista-autores
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
#lista-integrantes li,
#lista-autores li
{
    flex-basis: 33.33%;
    background-color: #F25922;
    max-width: 33.33%;
    text-align: center;
    padding: 15px;
    box-sizing:border-box;
    margin: 5px;
    cursor: pointer;
}

.botonera{
    display: flex;
}
.circulo{
    border:solid 2px var(--color-gris-oscuro);
    width: 20px;
    height :20px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}
#boton-oscuro{
    background-color: var(--color-gris-claro);

}

#caja-posicion {
    font-size: 20px;
    padding: 0 10px;
}
.video{
aspect-ratio: 16 /9;    
width: 100%;
height: auto;
}
